<?xml version="1.0"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="WebserviceURL" value="http://10.1.254.10/Home/WebService/BudgetApplication.asmx"/>
  </appSettings>
  <connectionStrings>
    <add name="ApplicationServices" connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnetdb.mdf;User Instance=true"
      providerName="System.Data.SqlClient" />
    <add name="Temp_eOPS_ConnectionString" connectionString="Data Source=10.130.8.10;Initial Catalog=eOPS;Persist Security Info=True;User ID=sa;Password=dim20120604@"
      providerName="System.Data.SqlClient" />
    <add name="eReimbursement" connectionString="Data Source=10.130.8.10;Initial Catalog=eReimV2;Persist Security Info=True;User ID=sa;Password=dim20120604@"
      providerName="System.Data.SqlClient" />
    <add name="eLeave" connectionString="Data Source=10.1.254.11;Initial Catalog=dbDimercoLeave;Persist Security Info=True;User ID=L0027;Password=HY+_2p!"
      providerName="System.Data.SqlClient" />
    <!--<add name="eChainVP" connectionString="Data Source=10.130.8.5;Initial Catalog=eChainVP;Persist Security Info=True;User ID=L0027;Password=HY+_2p!"
      providerName="System.Data.SqlClient" />
    <add name="Resm" connectionString="Data Source=10.130.8.5;Initial Catalog=ReSM;Persist Security Info=True;User ID=L0027;Password=HY+_2p!"
      providerName="System.Data.SqlClient" />-->
    <add name="eChainVP" connectionString="Data Source=10.130.8.13;Initial Catalog=eChainVP;Persist Security Info=True;User ID=sa;Password=dim1rc0@"
      providerName="System.Data.SqlClient" />
    <add name="Resm" connectionString="Data Source=10.130.8.13;Initial Catalog=ReSM;Persist Security Info=True;User ID=sa;Password=dim1rc0@"
      providerName="System.Data.SqlClient" />
    <add name="ReSMConnectionString" connectionString="Data Source=10.1.254.11;Initial Catalog=ReSM;Persist Security Info=True;User ID=L0027;Password=HY+_2p!"
      providerName="System.Data.SqlClient" />
    <!--<add name="eReimbursement" connectionString="Data Source=10.130.8.10;Initial Catalog=eReim;Persist Security Info=True;User ID=eReimAdmin;Password=dim20130701@;Packet Size=4096;Connect Timeout=60"
      providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <system.web>
    <customErrors mode="Off"/>
    <sessionState mode="StateServer" cookieless="false" timeout="3000"/>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="Microsoft.ReportViewer.Common, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Management, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login.aspx" timeout="2880"/>
    </authentication>
    <membership>
      <providers>
        <clear/>
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/"/>
      </providers>
    </membership>
    <profile>
      <providers>
        <clear/>
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/"/>
      </providers>
    </profile>
    <roleManager enabled="false">
      <providers>
        <clear/>
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/"/>
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/"/>
      </providers>
    </roleManager>
    <httpModules>
      <add name="DirectRequestModule" type="Ext.Net.DirectRequestModule, Ext.Net"/>
    </httpModules>
    <httpHandlers>
      <add verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"   />
    </httpHandlers>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BudgetApplicationSoap" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
          messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
          useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://10.130.254.15/Home/WebService/BudgetApplication.asmx"
        binding="basicHttpBinding" bindingConfiguration="BudgetApplicationSoap"
        contract="ServiceReference1.BudgetApplicationSoap" name="BudgetApplicationSoap" />
    </client>
  </system.serviceModel>
</configuration>